.container {
    max-width: 36rem;
    padding: 3rem 3rem;
    border-radius: 2.5rem;
    margin: 3rem auto 6rem;
    background: Yellow;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}